<!-- <div class="tab-content">
	<div role="tabpanel" class="tab-pane active" id="essay"></div>
	<div role="tabpanel" class="tab-pane" id="movie">
		<ul class="list-group">
			<li class="list-group-item"><a ui-sref="solani">乐与路</a></li>
			<li class="list-group-item"></li>
			<li class="list-group-item">Morbi leo risus</li>
			<li class="list-group-item">Porta ac consectetur ac</li>
			<li class="list-group-item">Vestibulum at eros</li>
		</ul>	
	</div>
	<div role="tabpanel" class="tab-pane" id="book"></div>
	<div role="tabpanel" class="tab-pane" id="guitar">...</div>
	<div role="tabpanel" class="tab-pane" id="guitartheory" ng-controller="ScaleController">
		<table border="1px solid">
			<tr>
				<td ng-repeat="scale in frets">{{scale}}</td>
			</tr>
			<tr ng-repeat="ps in puzzleScale">
				<td ng-repeat="puzzle in ps track by $index" ng-class="puzzle == 1 ? 'puzzle' : ''" >{{puzzle == 1 ? "?" : ""}}</td>
			</tr> 
		</table>
		<table border="1px solid">
			<tr>
				<td ng-repeat="scale in frets">{{scale}}</td>
			</tr>
			<tr ng-repeat="lineScale in allScaleNotes">
				<td ng-repeat="scale in lineScale track by $index">{{scale }}</td>
			</tr>
		</table>	
	</div>
</div> -->