<!-- Nav tabs -->
<ul class="nav nav-tabs tab-title" role="tablist">
	<li role="presentation" class="active"><a href="#home" aria-controls="movie" role="tab" data-toggle="tab">Movie</a></li>
	<li role="presentation"><a href="#book" aria-controls="book" role="tab" data-toggle="tab">Book</a></li>
	<li role="presentation"><a href="#guitar" aria-controls="guitar" role="tab" data-toggle="tab">Guitar</a></li>
	<li role="presentation"><a href="#guitartheory" aria-controls="guitartheory" role="tab" data-toggle="tab">GuitarTheory</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
	<div role="tabpanel" class="tab-pane active" id="movie">
		<ul class="list-group">
			<li class="list-group-item">Cras justo odio</li>
			<li class="list-group-item">Dapibus ac facilisis in</li>
			<li class="list-group-item">Morbi leo risus</li>
			<li class="list-group-item">Porta ac consectetur ac</li>
			<li class="list-group-item">Vestibulum at eros</li>
		</ul>	
	</div>
	<div role="tabpanel" class="tab-pane" id="book"></div>
	<div role="tabpanel" class="tab-pane" id="guitar">...</div>
	<div role="tabpanel" class="tab-pane" id="guitartheory">...</div>
</div>